body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px;

  width: 100%;
  height: 100vh; /* ocupa toda a altura da tela */
  background-image: url("https://i5.walmartimages.com/seo/Kraft-Vegemite-Yeast-Extract-7-76-oz_ff76fe1e-c081-4586-8acc-e6f7e13b507c.27f2c268aa3690127fa2504ffd36e176.jpeg?odnHeight=2000&odnWidth=2000&odnBg=FFFFFF");
  background-repeat: repeat; /* repete nos dois eixos */
  background-size: 150px 150px; /* tamanho de cada "quadro" */
}


img {
  width: 256px;
  height: 256px;
}

#exibicao-palavra {
    font-size: 3em;
    margin-bottom: 30px;
}

#letras-chutadas {
    font-size: 3em;
    color: #00ffff;       /* Ciano puro */
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 
        -1px -1px 0 #000, /* Sombra superior esquerda */
        1px -1px 0 #000,  /* Sombra superior direita */
        -1px 1px 0 #000,  /* Sombra inferior esquerda */
        1px 1px 0 #000;   /* Sombra inferior direita */
    letter-spacing: 5px;  /* Espaçamento entre letras */
}


#mensagem {
    display: none;
}

#botao-reiniciar {
    display: none;
    margin: auto;
    background-color: #FF69B4;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#botao-reiniciar:hover {
    background-color: #FFFF00;
}

#bnt-chutar {
    color: #9B30FF;
}