body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px;
}

img {
  width: 256px;
  height: 256px;
}

#exibicao-palavra {
    font-size: 3em;
    margin-bottom: 30px;
}

#letras-chutadas {
    font-size: 3em;
    color: #fffdd9;
    font-weight: bold;
    margin-bottom: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;

}

#mensagem {
    display: none;
}

#botao-reiniciar {
    display: none;
    margin: auto;
    background-color: #FF69B4;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#botao-reiniciar:hover {
    background-color: #FFFF00;
}

#bnt-chutar {
    color: #9B30FF;
}